/* .card{
    border: 10px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    margin: 10px;

}
.card-container{
    margin-left: 2%;
    border: 10px;
    border-color: black;
    background-color: aqua;

} */

.hi{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
    
}
.h{

    margin: 19px;
}